*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.logo
{
    padding: 10px;
    color:white
}

.nav ul li{
    display: flex;
}
.mystyle{
    width: 30%;
    float: left;
    height: 100vh;
    background-color: rgb(71, 124, 237);;   
}
.nav{
    width: 30%;
    float: left;
    height: 100vh;
    background-color: rgb(71, 124, 237);
}


.nav ul li a{
    list-style: none;
    text-decoration: none;
    color: rgb(71, 124, 237);
    padding: 30px 90px;
    text-transform: uppercase;
    font-weight: 600; 
    color: white;
}
.openMenu
{
    font-size: 24px;
    padding: 0px;
    float: right;
    color:rgb(71, 124, 237);
}
.container
{
    float: left;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: aliceblue;
    width: 70%;
}
.icon{
    width: 30%;
    float: left;
    justify-content: center;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    position: fixed
}
.icon li {
    list-style: none;
    display: inline-block;
    font-size: 1.4rem;
    padding: 2px !important;
}
.icon li a{
    text-decoration: none;
    color: white;
    padding: 3px;
    
}
